@mixin flex($align-item: flex-start, $justify-content: flex-start, $wrap: nowrap) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-wrap: $wrap;
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}
